<div class="my-container">
  <div class="container">
 
 <div class="d-flex justify-content-center ">
    <div class="user_card">
       
      <div class="d-flex justify-content-center form_container">
        
        <form  [formGroup]="loginForm">
          <h5 style="margin-top: -120px; padding: 15px;" class="text-center">پەڕەی تایبەت بە ئەدمین</h5>
          <div class="input-group mb-4">
             <input type="text" class="form-control" formControlName="username"*transloco="let t; read: 'balance'"  placeholder="{{t('username')}}">
           <span class="input-group-text"><i class="fas fa-user"></i> </span>
           </div>
          <div class="input-group mb-4">
             <input type="password"class="form-control "  formControlName="password" *transloco="let t; read: 'balance'"  placeholder="{{t('password')}}">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
     
            <div class="input-group mb-2">
              <select (change)="setLang($event)"class="form-control " >
        
                <option
                  *ngFor="let l of this.langList"
                  [selected]="l.id == this.currentLang"
                  [value]="l.id"
                >
                  {{ l.label }}
                </option>
              </select>
              <span class="input-group-text"><i class="fa fa-language"></i></span>
             </div>
           

            
            <div class="d-flex justify-content-center mt-4 login_container">
         <button type="submit" name="button" class="btn login_btn" (click)="login()" *transloco="let t; read: 'balance'" >{{t("login")}}</button>
         </div>
        </form>
      </div>
    
    </div>
  </div>
</div>
 
</div> 