/* .halfCard{
    display: flex;
    flex-direction: row;
    
} */

@media only screen and (max-width: 600px) {
    .divideCard{
        max-width: 100%;
    }
    .halfCard {
        display: flex;
        flex-direction: column;
        
    }

}

@media only screen and (min-width: 600px) {
    .divideCard{
        max-width: 50%;
    }
    .halfCard {
        display: flex;
        flex-direction: row;
    }
   
}