   .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  }
  
   .my-container{
      background-color: rgb(155, 205, 20);
    }
    
     
    .my-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;	
    font-family: Raleway, sans-serif;
    }
    
    .my-container {
    background: linear-gradient(130deg,#1f2935, #597494 );		
    }
    
		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: linear-gradient(80deg, #597494, #1f2935);		
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(222, 63, 63, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 2px 8px 0 rgb(155, 205, 20), 0 6px 20px 0 rgba(232, 220, 220, 0.928);
			-moz-box-shadow: 0 2px 6px 0 rgba(118, 239, 32, 0.872), 0 6px 20px 0 rgba(215, 72, 72, 0.861);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #1f2935;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid rgb(155, 205, 20);
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background:linear-gradient(90deg,#1f2935 , #597494);	
			color: rgb(155, 205, 20) !important;
			box-shadow: 0 4px 8px 0 rgba(222, 63, 63, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 2px 8px 0 rgb(232, 239, 229), 0 6px 20px 0 rgba(232, 220, 220, 0.928);
			-moz-box-shadow: 0 2px 6px 0 rgba(118, 239, 32, 0.872), 0 6px 20px 0 rgba(215, 72, 72, 0.861);
			
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: linear-gradient(90deg, #597494,#1e2935 );	
			color: rgb(155, 205, 20) !important;
			border: 0 !important;
			border-radius: 0.5rem 0 0 0.5rem !important;
		}
		.input_user,
		.input_pass:focus {
      	box-shadow: none !important;
			 
		}
	 