 
 <div class="my-container text-center"  >
 <div class="container" style=" padding: 16px;">
<div class="customStyle">
  <div class="card">     
    <div id="instructions">
        <video
           class="video-js vjs-default-skin"
          width="100%"
          height="100%"
          controls="true"
          preload="true"
            playsinline
          muted
          data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'
        >
          <source
            src="../../../../assets/Videos/tether.mp4"
            type="video/mp4"
          />
        </video>
      </div> 
      <p *transloco="let t; read: 'mobileToturials'"> {{
        t("tether_change_Password")
      }}</p>
      <p *transloco="let t; read: 'mobileToturials'"> {{
        t("tplink_change_Password")
      }}</p>
     </div>
 
  
  </div>
</div> 
</div>