.container {
  min-height: 100vh;
}
.my-container {
  background: linear-gradient(130deg, #1f2935, #597494);
}

@media only screen and (min-width: 751px) {
  .customStyle{
    display: flex; 
    flex-direction: row;
    justify-content: start; 
   flex-wrap: wrap;
  }
  .card {
    max-width: 290px;
    background-color: rgb(155, 205, 20);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 25px;
    text-align: center;
    -box-shadow: 0 4px 8px 0 rgba(222, 63, 63, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 2px 8px 0 rgb(209, 213, 141),
      0 6px 20px 0 rgba(232, 220, 220, 0.928);
    -moz-box-shadow: 0 2px 6px 0 rgba(156, 190, 131, 0.872),
      0 6px 20px 0 rgba(215, 72, 72, 0.861);
  }
}


@media only screen and (max-width: 750px) {
  .card {
    background-color: rgb(155, 205, 20);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 25px;
     text-align: center;
    -box-shadow: 0 4px 8px 0 rgba(222, 63, 63, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 2px 8px 0 rgb(209, 213, 141),
      0 6px 20px 0 rgba(232, 220, 220, 0.928);
    -moz-box-shadow: 0 2px 6px 0 rgba(156, 190, 131, 0.872),
      0 6px 20px 0 rgba(215, 72, 72, 0.861);
  }
}
