@media screen and (max-width: 500px) {
  .navCustom {
    background-color: rgb(155, 205, 20);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .customBody {
    margin-top: 50px;
  }
}

@media screen and (min-width: 500px) {
  .navCustom {
    background-color: rgb(155, 205, 20);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .customBody {
    margin-top: 50px;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.custumStyle {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.mobile-nav {
  background-color: #1f2935;
  color: #fff;
  position: fixed;
  bottom: 16px;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subItem > a {
  color: black;
  width: fit-content;
}
.subItem.active > a {
  color: #4ba67f;
  font-weight: bold;
}

.subItem:hover .title {
  color: #4ba67f;
}

.nav-horizontal-scroll-onhover-items {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.nav-horizontal-scroll ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  overflow-x: scroll;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: visible;
  box-shadow: 0px 4px 10px rgb(50 54 57);
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-horizontal-scroll ul::-webkit-scrollbar {
  display: none;
}

.nav-horizontal-scroll ul li {
  padding: 1em;
  text-align: center;
  background: rgb(50, 54, 57);
  color: rgb(200, 204, 207);
  border-right: 1px solid rgb(20, 24, 27);
  box-shadow: inset 0px 0px 5px 5px rgb(40 44 47);
  width: fit-content;
  word-break: keep-all;
  flex-shrink: 0;
  min-width: 100px;
}

nav.nav-horizontal-scroll {
  overflow: visible;
}

.nav-horizontal-scroll ul li.nav-active,
.nav-horizontal-scroll ul li:hover,
.nav-horizontal-scroll ul li:active {
  background: rgb(30, 34, 37);
  box-shadow: inset 0px 0px 5px 5px rgb(20 24 27);
  color: white;
  cursor: pointer;
}

span {
  width: fit-content;
}

section.page.page-active {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
  overflow: hidden;
}

.nav-horizontal-scroll-onhover-items {
  position: absolute;
}

.nav-horizontal-scroll-onhover-items.nav-show {
  height: 100%;
  opacity: 1;
  overflow: visible;
  border-radius: 1em;
  transition: opacity 0.5s ease;
}

.nav-horizontal-scroll-onhover-items.nav-show ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px rgb(30, 34, 37);
}

.nav-horizontal-scroll-onhover-items.nav-show ul li {
  text-align: left;
}
