<div class="container-scroller">
    <!-- partial:assets/partials/_navbar.html -->
    <nav id="nav" class="flex-row p-0 navbar col-lg-12 col-12 fixed-top d-flex default-layout-navbar">
      <div class="navCustom">
        <div>
          <i
            (click)="logout()"
            style="
              color: #1f2935;
              font-size: 30px;
             "
            class="fa fa-window-close"
            aria-hidden="true"
          ></i>
         </div>
     
        
        <div>
         <select
           (change)="setLang($event)"
           style="background-color: #1f2935; color: white; border-radius: 15px"
         >
           <option
             *ngFor="let l of this.langList"
             [selected]="l.id == this.currentLang"
             [value]="l.id"
           >
             {{ l.label }}
           </option>
         </select>
        </div>
        
        <div>
          <i
            class="fa fa-home"
            aria-hidden="true"
            style="color: #1f2935; font-size: 30px;"
            (click)="home()"
            
          ></i>
         </div>
        </div>
       
        
  
    </nav>
    
    <!-- partial -->
    <div class="customBody">
      <router-outlet></router-outlet>
      
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  