 


@media screen and (max-width: 500px) {
  .navCustom{
    background-color: rgb(155, 205, 20);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
   
  }
  
  .customBody{
    margin-top: 90px;
  }

}


@media screen and (min-width: 500px) {
  .navCustom{
    background-color: rgb(155, 205, 20);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
   
  }
  .customBody{
    margin-top: 70px;
  }

}


.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .custumStyle{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

  }