<div class="container-scroller">
    <!-- partial:assets/partials/_navbar.html -->
    <nav id="nav" class="flex-row p-0 navbar col-lg-12 col-12 fixed-top d-flex default-layout-navbar">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <div>

          <i class="fa fa-home" aria-hidden="true" 
             style="
          color: #1f2935;
          font-size: 30px;
          padding-top: 3px;
          margin-right: 10px;
        " (click)="home()"></i>
      
        </div>
      </div>
      <div class="custumStyle navbar-menu-wrapper d-flex align-items-stretch" >
        <div style="margin-right: 60px; margin-top: 4px;">
          <select
            (change)="setLang($event)"
            style="background-color: #1f2935; color: white; border-radius: 15px;margin-top: 15px;"
          >
            <option
              *ngFor="let l of this.langList"
              [selected]="l.id == this.currentLang"
              [value]="l.id"
            >
              {{ l.label }}
            </option>
          </select>
        </div>
<div>
  <i
  (click)="logout()"
  style="
    color: #1f2935;
    font-size: 30px;
    padding-top: 20px;
    margin-right: 10px;
  "
  class="fa fa-window-close"
  aria-hidden="true"
></i>
</div>
      </div>
    </nav>
    
    <!-- partial -->
    <div style="margin-top: 70px;">
      <router-outlet></router-outlet>
      
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  