.container {
  min-height: 100vh;
}
.my-container {
  background: linear-gradient(130deg, #1f2935, #597494);
}

.header {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  font-size: 22px;
  color: floralwhite;
}

.title {
  color: floralwhite;
  border-radius: 20px;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  -box-shadow: 0 4px 8px 0 rgba(222, 63, 63, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

  -webkit-box-shadow: 0 2px 8px 0 rgb(209, 213, 141),
    0 6px 20px 0 rgba(232, 220, 220, 0.928);

  -moz-box-shadow: 0 2px 6px 0 rgba(156, 190, 131, 0.872),
    0 6px 20px 0 rgba(215, 72, 72, 0.861);
}

.title:hover {
  -webkit-box-shadow: 0 2px 4px 5px rgb(155, 205, 20),
    0 10px 10px 0 rgba(247, 240, 240, 0.928);
}
