 
  <div class="container">
  <div class="screen">
    <div class="screen__content">
      <div class="row">
        <div class="col-md-12">
          <div class="card-counter" style="
              background-color: #1f2935;
              color: white;
              text-align: right;
              opacity: 1;
            ">
            <p class="titleCustomer">{{ data.name }}</p>
            <p class="detailCustomer">{{ data.phone }}</p>
            <p class="detailCustomer">
              <span>{{ newDate | date:'yyyy-MM-dd - hh:mm a' }}</span>
            </p>

            <i style="display: flex; justify-content: end" class="fa fa-credit-card-alt" aria-hidden="true"></i>
          </div>
        </div>
      </div>






      <div class="container mt-5">
        <div class="row">
          <div class="col-6 col-md-3 mb-4 card-1">
            <div class="card text-center" routerLink="/Home/activrCard">
              <div class="card-body text-center">

                <div class="circle-icon">
                  <i class="fa fa-credit-card"></i>
                </div>

              </div>
              <h5 class="card-title" *transloco="let t; read: 'main'">
                {{ t("main_card") }}
              </h5>
            </div>
          </div>
          
          <div class="col-6 col-md-3 mb-4 card-1">
            <div class="card text-center">
              <div class="card-body" routerLink="/Home/FIBComponents">

                <div class="circle-icon">
                  <i class="fa fa-money-bill"></i>
                </div>

              </div>
              <h5 class="card-title" *transloco="let t; read: 'buyCard'">
                {{ t("buy") }}
              </h5>
            </div>
          </div>

          <div class="col-6 col-md-3 mb-4 card-1">
            <div class="card text-center">
              <div class="card-body" routerLink="/Home/userTraffic">

                <div class="circle-icon">
                  <i class="fa fa-money-bill"></i>
                </div>

              </div>
              <h5 class="card-title" *transloco="let t; read: 'main'">
                 {{ t("traffic") }}
                
              </h5>
            </div>
          </div> 
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card-counter" style="
                background-color: #1f2935;
                color: white;
                text-align: center;
                opacity: 1;
              ">
              <p style="font-size: 24px; margin-bottom: -7px;font-weight: bolder;">{{ balanceInfo }} </p>
              <h2 *transloco="let t; read: 'main'">
                {{ t("remainigDays") }} </h2> 
            </div>
          </div>
        </div>


        
      </div>
    </div>
  </div>
</div>   