<div class="main-content">
  <div class="container mt-2">
    <!-- Table -->
    <h2 class="mb-5 text-center">Users</h2>
    <div class="row">
      <div class="col" dir="ltr">
        <button
          type="button"
          class="btn btn-info btn-lg"
          data-toggle="modal"
          data-target="#myModal"
        >
          Add
        </button>

        <div class="card shadow">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr class="text-center">
                  <th>#</th>
                  <th>user</th>
                  <th>role</th>
                  <th>createdAt</th>
                  <!--   <th >*</th>  -->
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let info of data; let i = index"
                  class="text-center"
                >
                  <td *ngIf="info.role !='developer' ">{{ i  }}</td>
                  <td *ngIf="info.role !='developer' ">
                    <div class="media-body">
                      <span
                        (click)="getOne(info._id)"
                        data-toggle="modal"
                        data-target="#updateModal"
                        style="text-decoration: underline; color: blue"
                        class="mb-0 text-sm"
                        >{{ info.username }}</span
                      >
                    </div>
                  </td>
                  <td *ngIf="info.role !='developer'" >{{ info.role }}</td>
                  <td *ngIf="info.role !='developer'">{{ info.createdAt | date : "dd-MM-yyyy" }}</td>

                  <!--  <td data-toggle="modal" data-target="#updateModalPassword" style="text-decoration: underline; color: blue;" class="mb-0 text-sm"> updatePassword</td>
                      -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add Modal -->
<div class="container" dir="ltr">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">زیادکردن</h4>
        </div>
        <div class="modal-body text-right">
          <input
            type="text"
            [(ngModel)]="model.username"
            class="form-control text-right"
            placeholder="username"
          />

          <input
            type="text"
            [(ngModel)]="model.password"
            class="form-control text-right"
            placeholder="password"
          />

          <select
            class="form-control"
            class="btn btn-outline-success"
            (change)="onChangeUserRole($event.target.value)"
          >
            <option selected value="">select permission</option>
            <option value="developer" *ngIf="user.role == 'developer'">
              Developer
            </option>
            <option value="manager">بەڕێوبەر</option>
            <option value="notification">ناردنی ئاگاداری</option>
            <option value="createUser">دروستکردنی بریکار</option>
            <option value="Agent-notification">
              دروستکردنی بریکار و ناردنی ئاگاداری
            </option>
          </select>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="addNotification()"
          >
            زیادکردن
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            داخستن
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- update Model -->

<div class="container" dir="ltr">
  <div class="modal fade" id="updateModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">زیادکردن</h4>
        </div>
        <div class="modal-body text-right">
          <p>username</p>
          <input
            type="text"
            [(ngModel)]="getItem.username"
            class="form-control text-right"
            placeholder="تکایە ناو نیشان بنوسە"
          />
          <p class="mt-3">permission</p>

          <select
            class="form-control"
            class="btn btn-outline-success"
            (change)="onChangeUserRole($event.target.value)"
          >
            <option selected value="{{ getItem.role }}">
              {{ getItem.role }}
            </option>
            <option value="developer" *ngIf="user.role == 'developer'">
              Developer
            </option>
            <option value="manager">بەڕێوبەر</option>
            <option value="notification">ناردنی ئاگاداری</option>
            <option value="createUser">دروستکردنی بریکار</option>
            <option value="Agent-notification">
              دروستکردنی بریکار و ناردنی ئاگاداری
            </option>
          </select>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="updateNotification(getItem._id)"
          >
            نوێکردنەوە
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            داخستن
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- update Model Password -->
<div class="container" dir="ltr">
  <div class="modal fade" id="updateModalPassword" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">زیادکردن</h4>
        </div>
        <div class="modal-body text-right">
          <p>current password</p>
          <input
            type="text"
            [(ngModel)]="updatePassowrd.passwordCurrent"
            class="form-control text-right"
            placeholder="تکایە ناو نیشان بنوسە"
          />
          <p>new password</p>
          <input
            type="text"
            [(ngModel)]="updatePassowrd.password"
            class="form-control text-right"
            placeholder="تکایە ناو نیشان بنوسە"
          />
          <p>conferm password</p>
          <input
            type="text"
            [(ngModel)]="updatePassowrd.confermPassword"
            class="form-control text-right"
            placeholder="تکایە ناو نیشان بنوسە"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="updateUserPassword()"
          >
            نوێکردنەوە
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            داخستن
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
