<div class="container-fluid">
  <div class="px-lg-5">
    <!-- For demo purpose -->
    <div class="row py-5">
      <div class="col-lg-12 mx-auto">
        <div class="text-white p-5 shadow-sm rounded banner">
          <h1 class="display-4">FANCY NET COMPANY</h1>
          
          <p class="lead">For Internet service</p>
          <h5 class="text-right">بەخێربێیت بەڕێز {{data.username}}</h5>
          <h6 class="text-right" data-toggle="modal" data-target="#updateModalPassword" style="text-decoration: underline; color: blue;" >گۆڕینی پاسۆرد</h6>
         
        </div>
      </div>
    </div>
   
    <!-- End -->  
    <div class="row" >
       <!-- Gallery item -->
       <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngIf="data.role == 'developer' || data.role == 'manager' "> 
        <div class="bg-white rounded shadow-sm" routerLink="/Index/Users">
          <img 
            src="../../../../assets/images/user.jpeg"
            alt=""
            class="img-fluid card-img-top"
          />
          <div class="p-4">
            <h5><a   class="text-dark">بەکارهێنەرەکان</a></h5>
            <p class="small text-muted mb-0">
              دروستکردنی بەکارهێنەر
            </p>
            <!--  <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
                <div class="badge badge-danger px-3 rounded-pill font-weight-normal">New</div> 
              </div>-->
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngIf="data.role == 'developer' || data.role == 'manager'|| data.role == 'notification'|| data.role == 'Agent-notification'"> 
        <div class="bg-white rounded shadow-sm" routerLink="/Index/Notification">
          <img 
            src="../../../../assets//images/Notification.png"
            alt=""
            class="img-fluid card-img-top"
          />
          <div class="p-4">
            <h5><a   class="text-dark">ئاگادارکردنەوە</a></h5>
            <p class="small text-muted mb-0">
              ناردنی ئاگادارکەرەوە بۆ بەشداربوان
            </p>
            <!--  <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
                <div class="badge badge-danger px-3 rounded-pill font-weight-normal">New</div> 
              </div>-->
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngIf="data.role == 'developer' || data.role == 'manager'|| data.role == 'createAgent'|| data.role == 'Agent-notification'">
        <div class="bg-white rounded shadow-sm" routerLink="/Index/Agent">
          <img
            src="../../../../assets//images/Agent.jpeg"
            alt=""
            class="img-fluid card-img-top"
          />
          <div class="p-4">
            <h5><a href="#" class="text-dark">بریکار</a></h5>
            <p class="small text-muted mb-0">
              زیادکردن یان گۆڕانکاری لە بریکارەکانی کۆمپانیادا
            </p>
            <!-- <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>
                <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Trend</div>
              </div> -->
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngIf="data.role == 'developer' || data.role == 'manager'|| data.role == 'createAgent'|| data.role == 'Agent-notification'">
        
        <div class="bg-white rounded shadow-sm" routerLink="/Index/address">
          <img
            src="../../../../assets//images/address.png"
            alt=""
            class="img-fluid card-img-top"
          />
          <div class="p-4">
            <h5><a href="#" class="text-dark">ناونیشان</a></h5>
            <p class="small text-muted mb-0">
              زیادکردن و گۆڕانکاری لە شوێنی بریکارەکان
            </p>
            <!-- <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
                <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Featured</div>
              </div> -->
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngIf=" data.role == 'developer' ">
        <div class="bg-white rounded shadow-sm">
          <img
            src="../../../../assets//images/information.jpeg"
            alt=""
            class="img-fluid card-img-top"
          />
          <div class="p-4">
            <h5><a href="#" class="text-dark">زانیاری</a></h5>
            <p class="small text-muted mb-0">زیادکردنی زانیاری بۆ بەشداربوان</p>
            <!--  <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPEG</span></p>
                <div class="badge badge-success px-3 rounded-pill font-weight-normal">Hot</div>
              </div> -->
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngIf="data.role == 'developer' ">
        <div class="bg-white rounded shadow-sm">
          <img
            src="../../../../assets//images/tutorials.jpg"
            alt=""
            class="img-fluid card-img-top"
          />
          <div class="p-4">
            <h5><a href="#" class="text-dark">فێرکاری</a></h5>
            <p class="small text-muted mb-0">
              زیادکردنی فیدیۆی فرێرکاری بۆ بەشداربوان
            </p>
            <!--  <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>
                <div class="badge badge-primary px-3 rounded-pill font-weight-normal">New</div>
              </div> -->
          </div>
        </div>
      </div>
      <!-- End -->

     </div>
    <!-- <div class="py-5 text-right">
      <a href="#" class="btn btn-dark px-5 py-3 text-uppercase">Show me more</a>
    </div> -->
  </div>
</div>





 <!-- update Model Password -->
 <div class="container" dir="ltr">
      
  <div class="modal fade" id="updateModalPassword" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content"  >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">زیادکردن</h4>
        </div>
        <div class="modal-body text-right">
          <p>current password</p>
          <input type="text"  [(ngModel)]="updatePassowrd.passwordCurrent"  class="form-control text-right" placeholder="تکایە ناو نیشان بنوسە" >
          <p>new password</p>
          <input type="text"  [(ngModel)]="updatePassowrd.password"  class="form-control text-right" placeholder="تکایە ناو نیشان بنوسە" >
          <p>conferm password</p>
          <input type="text"  [(ngModel)]="updatePassowrd.confermPassword"  class="form-control text-right" placeholder="تکایە ناو نیشان بنوسە" >
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="updateUserPassword()">نوێکردنەوە</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" >داخستن</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>